{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/ProgressBar.css'%}" rel="stylesheet">
    <link href="{% static 'css/pago.css'%}" rel="stylesheet">

   </head>
   
   

    <!-- Header -->
    <body><div id="top-nav" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle">
            </span>
          </button>
          <div class="navbar-brand" href="#">
            SAGE
          </div>
        </div>
        <div class="navbar-collapse collapse">

        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">

      <!-- upper section -->
      <div class="row">
        <div class="col-sm-2">
          <!-- left -->
          <h3>
            <i class="glyphicon glyphicon-briefcase">
            </i>
            Menú
          </h3>
          <hr>
          
          <ul class="nav nav-stacked">
            <li>
              <a href=".">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
               <a href="./reserva">
	  						<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Volver a reservas
					</a>
            </li>
          </ul>

          <hr>
          
        </div>
        <!-- /span-3 -->
<div class="col-sm-10">
        
      <!-- column 2 --> 
       <h3><i class="fa fa-bus"></i> Estacionamientos / Reserva / Pagos</h3>  
            
       <hr>
      
     <div class="row">
     
  
   	 <div class="col-md-6">
   	 <div class="alert alert-success" role="alert" id="disponible" style="display: block"><b>Reserva disponible:</b> Hay puestos vacios para la hora pedida </div>
      
   	 	 <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                   <b><h3 class="titulo">Detalles de la reserva</b></h3>		
              </div>
            </div>
            <div class="panel-body">
          <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered" id="tabla">
            <thead>
            	<tr>
                <th><i class="fa fa-clock-o"></i> Horario de reserva</th>
                <th></th>
                
            	</tr>
            </thead>
            <tbody>
            
              <tr>
                
                <td class="tablaizq">Entrada</td>
                <td class="tabladerecha">{{reserva.InicioReserva}}</td>
                
              </tr>
              
              
              <tr>
                
                <td class="tablaizq">Salida</td>
                <td class="tabladerecha">{{reserva.FinalReserva}}</td>
                
              </tr>
 
            </tbody>
          </table>
 
          <table class="table table-bordered" id="tabla">
            <thead>
            	<tr>
                <th><i class="fa fa-car"></i> Datos del Estacionamiento</th>
                <th></th>
                
            	</tr>
            </thead>
            <tbody>
            
              <tr>
                
                <td class="tablaizq">Nombre</td>
                <td class="tabladerecha">{{reserva.Estacionamiento.Nombre}}</td>
                
              </tr>
              
              
              <tr>
                
                <td class="tablaizq">Puesto asignado</td>
                <td class="tabladerecha">{{reserva.Puesto}}</td>
                
              </tr>
 
            </tbody>
          </table>
 
 
			<table class="table table-bordered" id="tabla">
				<thead>
				<tr>
				<th><i class="fa fa-money"></i> Detalle de Pago</th>
				<th></th>
				
				</tr>
				</thead>
				<tbody>
				
				  <tr>
				
				<td class="tablaizq">Tarifa por hora</td>
				<td class="tabladerecha">{{reserva.Estacionamiento.monto_tarifa}} Bs</td>
				   
				  </tr> 
				</tbody>
			</table>
			
			<table class="table table-bordered tablaTotal">
				<thead>
				<tr>
				<th class="tablaizq">TOTAL A PAGAR</th>
				<th class="tabladerecha">{{reserva.Costo}} Bs</th>
				</tr>
				
				</thead>
		
			</table>

    </div>
   			 </div> <!--cerrando panel boddy--> 
   			 
   		 </div>  <!--cerrando panel completo--> 
   	
   	 </div>
   	 
                    
</div>

<div class="col-md-6" id="pagos">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                   <b><h3 class="titulo">SAGE Pagos</b></h3>		

              </div>
            </div>
            <form action="./pagoconfirm"  id="formulario" method="POST">
            {% csrf_token %}
	        	
            <table class="table table-striped">
            
	        <tbody>
	        {% for field in form %}
              {%if field.name = 'nombre'%}
	        	   <tr><td><b><i class="fa fa-user"></i> Nombres del titular</b></td></tr>
			            			<tr><td><input type="text" id="nombres" style="width:150px" class="form-control" name="{{field.name}}" for="id_{{field.name}}" onblur="validar_nombres()" onkeypress="ocultar_e4()" onclick="ocultar_e4()" class="form-control"><div class="alert alert-danger error_datos" id="error_nom" role="alert" style="display: none"><strong> * Introduzca nombre(s) válido(s)</strong>
     							 	</td></tr>
     			{%else%}
     			{%if field.name = 'apellido'%}
	        	  <tr><td><b><i class="fa fa-user"></i> Apellidos del titular</b></td></tr>
			            			<tr><td><input type="text" id="apellidos" style="width:150px" onblur="validar_apellidos()" name="{{field.name}}" for="id_{{field.name}}" onkeypress="ocultar_e5()"onclick="ocultar_e5()" class="form-control" ><div class="alert alert-danger error_datos" id="error_ape" role="alert" style="display: none"><strong> * Introduzca apellido(s) válido(s)</strong>
     							 	</td></tr>
     			{%else%}
     			{%if field.name = 'cedula'%}
	        	 <tr><td><b><i class="fa fa-user"></i> Cédula del titular</b></td></tr>
 					<tr><td>    		
        				<select id="tipo_ci" name="tipo_ci" style="width: 40px" onclick="ocultar_e7()" >
		    				 <option value="">--</option>
  							 <option value="1">V</option>
  							 <option value="2">E</option>
							 </select> -
               			     <input type="text" id="cedula" onblur="validar_cedula()" onkeypress="ocultar_e6()" class="form-control" name="{{field.name}}" for="id_{{field.name}}">
                <div class="alert alert-danger error_datos" id="error_ci" role="alert" style="display: none"><strong> * Introduzca un numero de cedula válida</strong></div>
     								<div class="alert alert-danger error_tipos" id="tipos" role="alert" style="display: none"><strong> * Introduzca un tipo de cedula</strong></div> 
     						 </td></tr>
     						 
     						 
     						  <tr><td><b> Tipo Tarjeta</td></tr>
					        	<tr><td>
										<div class="row">
												
											<div class="col-md-4">							        	
								        		<input type="radio" name="tarjetas" value="tvista" id="vista" onclick="ocultarError3()"> <img src="{% static 'css/vista.png'%}" width="60%"/>
								        	</div>
								        	<div class="col-md-4">							        	
								        		<input type="radio" name="tarjetas" value="tmister" id="mister" onclick="ocultarError3()"><img src="{% static 'css/mister.png'%}" width="60%"  />
								        	</div>
								        	<div class="col-md-4">							        	
							        			<input type="radio" name="tarjetas" value="txpress" id="xpress" onclick="ocultarError3()"><img src="{% static 'css/xpress.png'%}" width="60%"  />
							        		</div>
							        	</div>
							        	<div class="row">
							        	 <div class="alert alert-danger error3" id="error3" role="alert" style="display: none"><strong> * Debe elegir un tipo de tarjeta</strong></div>
						        
								        	</div>
					       		 </td></tr>
	        	  {%else%}
	        	  {%if field.name = 'num_tarjeta'%}
	        	  <tr><td><b><i class="fa fa-credit-card"></i> Número tarjeta</b></td></tr>
			            			<tr><td><input class="form-control" name="{{field.name}}" for="id_{{field.name}}" type="text" id="cardnumber" style="width:150px" onblur="validar_numero()" onkeypress="ocultarError()" onclick="ocultarError(),validar_tipo()"><div class="alert alert-danger error" id="error1" role="alert" style="display: none"><strong> * Introduzca un numero de tarjeta válido</strong>
     								 </td></tr>	    
     			  {%else%}
     			  {%if field.name = 'codigo_val'%}
	        	  <tr><td><b><i class="fa fa-key"></i> Código validador </b></td></tr> 
  				  <tr><td><input class="form-control" name="{{field.name}}" for="id_{{field.name}}" type="text"  id="cvv"  onblur="validar_cvv()" style="width: 50px"  onkeypress="ocultarError2()" onclick="ocultarError2()"><img class="cvv" src="{% static 'css/cvv.png'%}" width="35%" hspace="10px"/><div class="alert alert-danger error2" id="error2" role="alert" style="display: none"><strong> * Introduzca un CVV válido</strong></td></tr>				  
               	  {%endif%}
                  {%endif%}
                  {%endif%}
                  {%endif%}
                  {%endif%}
                  {%endfor%}
             </table>
               <div class="control-group" id="confirmacion" style="display:none">
               <div class="controls">
                <div class="alert alert-success" role="alert" style="display: block"><i class="fa fa-check"></i><b> Datos confirmados:</b> PROCESAR para finalizar la operación
                <button type="submit" class="btn btn-success" id="confirmar">
                      Procesar
                    </button>
                </div>
     			</div>
                </div>
     	</form><br>
     	<button class="btn btn-warning" id="boton_pago" onClick="validar_todo()">
          Realizar Pago
        </button>
	</div> <!--cerrando col-med-6 --> 
   			       
</div> <!--cerrando col--> 


<div class="col-md-8 panel_p">
 	<div class="panel panel-danger" id="panel_alerta" style="display:none">       
 		<div class="panel-heading">
              <div class="panel-title">
                   <b><h3 class="tituloPago">Cancelar reserva</b></h3>				
        	  </div>
        </div>	
    		<h4 class="alertmsj"><b>¿Está seguro que desea cancelar su reserva?</h4></b>
	    	<a href="./eliminandoreserva"><button class="btn btn-default yes"  align="center">SI</button></a>
			<button class="btn btn-default no"  align="center" onclick="ocultarAlerta()" >NO</button>
		
	</div>	       
</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js'%}"></script>
  	<script type="text/javascript" src="{% static 'js/ProgressBar.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/Validator.js'%}"></script>  
  
	<script type="text/javascript">
		function mostrar(){
		document.getElementById('error1').style.display = 'block';
		}
	</script>
	
	<script type="text/javascript">
		function mostrarPanel(){
		document.getElementById('panel_pago').style.display = 'block';
		}
	</script>
	
	<script type="text/javascript">
		function mostrarBarra(){
		document.getElementById('progresBarContainer').style.display = 'block';
		}
	</script>
	
	<script type="text/javascript">
		function mostrar_e4(){
		document.getElementById('error_nom').style.display = 'block';
		}
	</script>	
	
	<script type="text/javascript">
		function mostrarConfirmacion(){
		document.getElementById('confirmacion').style.display = 'block';
		document.getElementById('boton_pago').style.display = 'none';
		
		}
	</script>	
	
	
	<script type="text/javascript">
		function ocultar_e4(){
		document.getElementById('error_nom').style.display = 'none';
		}
	</script>	
	
	<script type="text/javascript">
		function mostrar_e5(){
		document.getElementById('error_ape').style.display = 'block';
		}
	</script>	
	
	<script type="text/javascript">
		function ocultar_e5(){
		document.getElementById('error_ape').style.display = 'none';
		}
	</script>	
	
	<script type="text/javascript">
		function mostrar_e6(){
		document.getElementById('error_ci').style.display = 'block';
		}
	</script>	
	
	<script type="text/javascript">
		function ocultar_e6(){
		document.getElementById('error_ci').style.display = 'none';
		}
	</script>	
	
	<script type="text/javascript">
		function mostrar_e7(){
		document.getElementById('tipos').style.display = 'block';
		}
	</script>	
	
	<script type="text/javascript">
		function ocultar_e7(){
		document.getElementById('tipos').style.display = 'none';
		}
	</script>		
	
	
	<script type="text/javascript">
		function mostrarPagos(){
		document.getElementById('prepagar').style.display = 'none';
		document.getElementById('pagos').style.display = 'block';
		document.getElementById('cancel').style.display = 'none';
		document.getElementById('disponible').style.display = 'none';
		
		}
	
	</script>

	<script type="text/javascript">
		function habilitar(){
			cardnumber.disabled=false;
            cvv.disabled=false;
            boton_pago.disabled=false;
            vista.disabled=false;
            mister.disabled=false;
            xpress.disabled=false;
            nombres.disabled=false;
            apellidos.disabled=false;
            cedula.disabled=false;
            tipo_ci.disabled=false; 
		}
	</script>		
		
	<script type="text/javascript">
		function mostrar2(){
		document.getElementById('error2').style.display = 'block';
		}
	</script>
	
	<script type="text/javascript">
		function mostrar3(){
		document.getElementById('error3').style.display = 'block';}
		
	</script>	
	
	<script type="text/javascript">
		function ocultarError(){
		document.getElementById('error1').style.display = 'none';}
	</script>
	
	<script type="text/javascript">
		function ocultarError2(){
		document.getElementById('error2').style.display = 'none';}
	</script>
	
	<script type="text/javascript">
		function ocultarError3(){
		document.getElementById('error3').style.display = 'none';}
	</script>
	
	<script type="text/javascript">
		function mostrar_mensaje(){
		document.getElementById('mensaje').style.display = 'block';}
	</script>
	
	<script>
		
		function sumar(valor)
		{
		var total;
		total = parseInt(valor.value)+parseInt(1);
		document.getElementById('result2').value=total;
		document.getElementById('result').value=document.getElementById('result2').value;
		}
	</script>
	
	<script type="text/javascript">
		function mostrarAlerta(){
		
		document.getElementById('panel_alerta').style.display = 'block';
		document.getElementById('cancel').style.display = 'none';
		document.getElementById('disponible').style.display = 'none';
		document.getElementById('prepagar').style.display = 'none';
		}
		
	</script>
	
	<script type="text/javascript">
		function ocultarAlerta(){
		document.getElementById('panel_alerta').style.display = 'none';
		document.getElementById('prepagar').style.display = 'block';
		document.getElementById('cancel').style.display = 'block';
		}
		
	</script>
	
	<script type="text/javascript">
	 function disable2() {
            confirmar.disabled=true; 
        }
	</script>
		
	<script type="text/javascript">
	 function disable() {
            
            cardnumber.disabled=true;
            cvv.disabled=true;
            boton_pago.disabled=true;
            vista.disabled=true;
            mister.disabled=true;
            xpress.disabled=true;
            nombres.disabled=true;
            apellidos.disabled=true;
            cedula.disabled=true;
            tipo_ci.disabled=true;        
            confirmar.disabled=false; 
        }
	</script>

</body>
</html>
