{% load staticfiles %}
{% load l10n %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/pago.css'%}" rel="stylesheet">
    
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    
   </head>
    
    <!-- Header -->
 <body onload="ocultarError()">   
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle">
            </span>
          </button>
          <div class="navbar-brand" href="#">
            SAGE
          </div>
        </div>
        <div class="navbar-collapse collapse">
          
        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /Header -->
    
    <!-- Main -->
    <div class="container">
      
      <!-- upper section -->
      <div class="row">
        <div class="col-sm-2">
          <!-- left -->
          <h3>
            <i class="glyphicon glyphicon-briefcase">
            </i>
            Menú
          </h3>
          <hr>
          
          <ul class="nav nav-stacked">
            <li>
              <a href=".">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
            </li>
          </ul>
          
        <ul class="nav nav-stacked">
            <li>
              <a href="#">
                <i class="fa fa-money"></i>
                Reportes de ingresos
              </a>
            </li>
          </ul>
          
          <ul class="nav nav-stacked">
            <li>
              <a href="reportereservas">
                <i class="fa fa-users"></i>
                Reporte de reservas
              </a>
            </li>
          </ul>
          
          <ul class="nav nav-stacked">
            <li>
              <a href="reportetasas">
                <i class="fa fa-search"></i>
                Reporte de tasa de reservas
              </a>
            </li>
          </ul>
  
          <hr>
          
        </div>
        <!-- /span-3 -->
<div class="col-sm-10">
        
      <!-- column 2 --> 
       <h3><i class="fa fa-bus"></i> Estacionamientos / Reporte de tasa de reserva</h3>  
            
       <hr>
       
     <div class="row">

     
		<div class="col-md-5">

    
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <i class="glyphicon glyphicon-signal pull-right">
                </i>
                <h4>
                  Reporte de tasa de reserva
                </h4>
              </div>
            </div>
            <div class="panel-body">

      
              
              <form action="#" method="post" class="form form-vertical" osubmit="control_form()">
              {% csrf_token %}
              {% for field in form %}
                <div class="control-group">
                  <div class="controls">
                  	<h4>Introduzca el nombre del estacionamiento</h4>
                    <input type="text" class="form-control" name="{{field.name}}" placeholder="{{field.label}}" for="id_{{field.name}}"><p>
                    {{ field.errors }}
                    <div class="alert alert-danger" role="alert" id="error_ingresos" style="display:none"><b>Error:</b> No hay estacionamientos con el nombre dado </div>
				        
                  </div>
                </div> 
              {% endfor %}
                
                <div class="control-group">
                  <label>
                  </label>
                  <div class="controls">
                    <button type="submit" class="btn btn-primary">
                      Ver reporte
                    </button>
                  </div>
                </div>
                
                
              </form>
              
              
            </div>
            <!--/panel content-->
            

          </div>      
    </div>   
    <!--/container-->
    {% if est%}
    <div class="col-md-6">
      <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="panel-title">
                <i class="glyphicon glyphicon-signal pull-right">
                </i>
                <h4>
                  Reporte de nivel de reservacion por grano de un dia
                </h4>
              </div>
            </div>
            <!--<div class="panel-body">
    
				   <!-- <table class="table table-striped" id="tabla_ingresos">
				    	
				        <thead>
				          <tr><th></th><th><h4>Nombre</h4></th><th class=" pull-right"><h4>Ingreso por reservaciones</	h4></th></tr>
				        </thead>
				        <tbody>
				        
				        {% for obj in est %} 
				        	
				          <tr>
					          <td>{{forloop.counter}}.</td>
					          <td>{{obj.Nombre}}</td>
					          <td class=" pull-right">{{obj.Ingresos|localize}} Bs</td>
				          </tr>
				          
				          {% endfor %}
				 		
				        </tbody>
				     
				    	
				    	
				    	
						  
				      </table>
				  </div>
				  <hr>
				  	<table class="table table-bordered tablaTotal">
				<thead>
				<tr>
				<th class="tablaizq">TOTAL INGRESOS</th>
				<!--<th class="tabladerecha">{{total.sum}} Bs</th>
				</tr>-->
				
    <div id="chartZ"></div> 
				</thead>
		
			</table>
   	  
        {%endif%}
	  </div>
    </div>
     <tr>  
 		 	
	<input type="text" id="estado" style="display:none" value={{n}}>
                     
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    
    <script type="text/javascript">
		function mostrarIngresos(){
		document.getElementById('tabla_ingresos').style.display = 'block';}
	</script>
	
	<script type="text/javascript">
		function mostrarError(){
			document.getElementById('error_ingresos').style.display = 'block';
			
		}
	</script>
	<script type="text/javascript">
		function ocultarError(){
			document.getElementById('error_ingresos').style.display = 'none';
			
		}
	</script>
	
	
	   <script type="text/javascript">
        window.onload = control_form;
        function control_form(){
            if (document.getElementById('estado').value == "1"){
                document.getElementById('error_ingresos').style.display = 'block';
                }
            }
        
    </script>
    
        
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
	    google.load("visualization", "1", {packages:["corechart"]});
	    google.setOnLoadCallback(function() {
	        var djangoData = {{ dataZ|safe }};
			var data = google.visualization.arrayToDataTable(djangoData);
		  var options = {'title':'Porcentaje de reservacion','legend':'none'};
	
	        var chart = new google.visualization.LineChart(document.getElementById('chartZ'));
	        chart.draw(data, options);
	    });
	</script>
    
</body></html>